params {
	
	input_vcf = "path/to/reference/chr*.vcf.gz"

}


process {
        executor = "slurm"
        clusterOptions = "--account="
        cpus = 1
        time = "3d"
        memory = "10GB"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "nextflow" }
        }
        $local {
                cpus = 1
        }
}